

body {
    background-color: rgb(4, 4, 191);
}

h1{
    color: white;
    text-align: center;
}

input{
    width: 55px;
    margin: 15px 0 15px 2px;
    border-radius: 3px;
}

th{
    background-color: rgb(142, 141, 141);
    text-align: center;
    border: 1px black solid;
}

td{
    
    text-align: center;
    border: 1px black solid;
}

tr.cinza {
    background-color:silver ;
}

tr.branco {
    background-color: white;
}